<div class="form-container">
  <h1><%=title%></h1>
  <form method="POST" style="display: flex; flex-direction: column">
    <label for="name">Name</label>
    <input
      required
      name="name"
      placeholder="Enter name of category"
      id="name"
      type="text"
      value="<%= typeof category !== 'undefined' ? category.name : '' %>"
    />
    <button type="submit" class="btn">Save</button>
  </form>
  <% if (typeof errors !== 'undefined') { %>
  <ul>
    <% for ( let error of errors) {%>
    <li style="color: rgb(172, 0, 0)"><%= error.msg %></li>
    <% } %>
  </ul>
  <% } %>
</div>
