<div>
  <h1 class="title"><%=title%></h1>
  <div>
    <ul class="item-list">
      <% if(typeof category_list !== 'undefined' ){ for(let category of
      category_list) { %>
      <li>
        <a href="/inventory/category/<%=category._id%>">
          <div class="card">
            <figure>
              <img src="../images/blank_image.png" />
            </figure>
            <div class="card-body">
              <h3 class="card-title"><%= category.name %></h3>
            </div>
          </div>
        </a>
      </li>
      <% }} else {%>
      <h3>No categories found.</h3>
      <%}%>
    </ul>
  </div>
</div>
