<div class="form-container">
  <h1><%=title%></h1>
  <form method="POST" style="display: flex; flex-direction: column">
    <label for="name">Name</label>
    <input
      required
      name="name"
      placeholder="Enter pet name.."
      id="name"
      type="text"
      value="<%= typeof pet !== 'undefined' ? pet.name : ''%>"
    />
    <button type="submit" class="btn">Save</button>
  </form>
</div>
